*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
config.sh
config-prod.sh

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
.idea

# Ensime
.ensime
.ensime_cache
ensime-langserver.log
pc.stdout.log
ensime.sbt

curl
run.sh
app/src/main/scala/OcrOld.scala
app/src/main/scala/OcrTest.scala
